.sem-produtos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 132px;
}

.sem-produtos p {
  color: #525459;
  font-size: 16px;
  text-align: center;
  width: 30%;
  margin-bottom: 32px;
}

.sem-produtos button {
  all: unset;
  cursor: pointer;
  background-color: #d13201;
  color: #ffffff;
  padding: 11px 40px 11px 40px;
  border-radius: 20px;
}
