.label__login__cadastro {
  box-sizing: border-box;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #393c40;
}

.input__senha {
  all: unset;
  border: 1px solid #bebebe;
  box-sizing: border-box;
  border-radius: 7.14512px;
  width: 408px;
  height: 47px;
  padding: 8px;
}

.div__input__senha {
  position: relative;
}

.eye-senha {
  position: absolute;
  top: 2.5em;
  right: 2em;
  cursor: pointer;
}
