@import url("botao.css");
@import url("textos.css");
@import url("alinhamento.css");
@import url("margens.css");

* {
  font-family: "Baloo 2", cursive;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

a {
  all: unset;
  text-decoration: none;
}

.erro__input {
  color: red;
  font-size: 12px;
}
