@import url("botao.css");
@import url("textos.css");

body,
* {
  font-family: "Baloo 2", cursive;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
}
