.card {
  display: flex;
}
.btn-adicionar-prod {
  display: flex;
  justify-content: flex-end;
  padding-right: 200px;
  margin-bottom: 105px;
}

.btn-adicionar-prod button {
  all: unset;
  cursor: pointer;
  background-color: #d13201;
  color: #ffffff;
  padding: 11px 40px 11px 40px;
  border-radius: 20px;
}

.lista-produtos {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
