.login {
  background-image: url("../../assets/bg-login.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.forms-login {
  height: 612.7px;
  width: 488px;
  border-radius: 16px;
}
