.login {
  background-image: url("../../assets/bg-login.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-left: 320px;
  padding-top: 35px;
}

.inputs-login {
  all: unset;
  border: 1px solid #bebebe;
  box-sizing: border-box;
  border-radius: 7.14512px;
  width: 408px;
  height: 47px;
  padding: 8px;
}

.forms-login {
  height: auto;
  width: 488px;
  border-radius: 16px;
  background-color: #ffff;
  padding: 14px 30px 44px 30px;
}

.margem-titulo {
  margin-bottom: 39px;
  font-size: 32px;
}

.cadastrar {
  margin-top: 39px;
  gap: 39px;
}
