header {
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-right-radius: 233px;
  height: 187px;
  width: 100%;
  display: flex;
}

.header__logo {
  border-radius: 50%;
  width: 176px;
  height: 176px;
  border: 6px solid #ffffff;
  margin-top: 92px;
  margin-left: 112px;
}

.header_items {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 60px;
}

.header_buttons{
  display: flex;
  justify-content: start;
}

.header_buttons .btn{
  all: unset;
  background-color: white;
  box-shadow: 0 0 2px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0);
  padding: 5px;
  font-size: 12pt;
  width: 120px;
  text-align: center;
  border-radius: 20px;
  color: #D13201;
  margin-bottom: 30px;
  font-weight: bold;
  cursor: pointer;
}

.header_buttons .btn:hover {
  background-color: #D13201;
  color: white;
}

.header_buttons .btn_cardapio {
  margin-right: 9px;
}

.header_buttons .btn_pedidos {
  margin-left: 9px;
}

.header__conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 147px 216px 40px 32px;
  color: #ffffff;
  font-size: 28px;
}

.header__conteudo button {
  all: unset;
  cursor: pointer;
  font-size: 16px;
  line-height: 170%;
}


.nome_restaurante, .logout_btn {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 15px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0);
  font-weight: bolder;
}

.logout_btn {
  font-size: 14pt;
}