header {
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-right-radius: 233px;
  height: 187px;
  width: 100%;
  display: flex;
}

.header__logo {
  border-radius: 50%;
  width: 176px;
  height: 176px;
  border: 6px solid #ffffff;
  margin-top: 92px;
  margin-left: 112px;
}

.header__botoes {
  display: flex;
  justify-content: space-between;
}

.header__conteudo {
  display: flex;
  flex-direction: column;
  padding: 78px 150px 35px 40px;
  width: 100%;
  color: #ffffff;
  font-size: 28px;
}

.header__conteudo__button {
  all: unset;
  cursor: pointer;
  font-size: 16px;
  line-height: 170%;
}

.nome_restaurante {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 150%;
}

.nome_restaurante,
.logout_btn {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 15px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0);
  font-weight: bolder;
}

.logout_btn {
  font-size: 14pt;
}
