.cadastro-consumidor {
  background-image: url("../../assets/cadastro-consumidor-bg.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 800px;
  background-color:#F0CCB1;
  width: 100vw;
  padding-left: 320px;
  padding-top: 35px;
  padding-bottom: 150px;
  overflow-y: hidden;
}

.inputs-cadastro-consumidor {
  all: unset;
  border: 1px solid #bebebe;
  box-sizing: border-box;
  border-radius: 7.14512px;
  width: 408px;
  height: 47px;
  padding: 8px;
}


.forms-cadastro-consumidor {
  box-shadow: 0px 4px 16px rgba(50, 50, 50, 0.15);
  border-radius: 0px 0px 0px 88px;
  height: auto;
  width: 488px;
  border-radius: 16px;
  background-color: #ffff;
  padding: 44px 40px 44px 40px;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 32px;
}

.margem-titulo-cadastro-consumidor {
  margin-bottom: 39px;
  font-size: 32px;
}

.barril {
  color: black;
}

.barril span{
  color: #FB3B00;
}

.cadastrar {
  margin-top: 39px;
  gap: 5px;
}
