.cadastro {
  background-image: url("../../assets/bg-cadastro.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.inputs-cadastro {
  all: unset;
  border: 1px solid #bebebe;
  box-sizing: border-box;
  border-radius: 7.14512px;
  width: 408px;
  height: 47px;
  padding: 8px;
}

.form-cadastro {
  height: auto;
  background-color: #ffff;
  border-radius: 17px;
<<<<<<< HEAD
  padding: 57px 92px 57px 42px;
=======
  padding: 30px;
>>>>>>> d03eb607344f7e3b7e8c26471f6cb95ffd071b69
}

.content-cadastro {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content-botoes {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.fazer-login {
  margin-left: 10px;
  color: #6f7377;
  font-family: Montserrat;
  font-size: 12px;
}

#categoria {
  height: 40px;
  width: 408px;
}

.textarea-cadastro {
  height: 100px;
  width: 408px;
  border-radius: 7.15px;
}

.rodape-textarea {
  margin-bottom: 50px;
  margin-left: 10px;
  color: #6f7377;
  font-size: 12px;
}

.label-select-textarea {
  margin-top: 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #393c40;
}

[class~="MuiStepIcon-root"] {
  color: #c9ccd1 !important;
}
[class~="MuiStepIcon-active"] {
  color: #d13201 !important;
}
[class~="MuiStepConnector-line"] {
  display: none !important;
}
[class~="MuiStepConnector-root"] {
  flex: 0 !important;
}

.header-cadastro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
