.cadastro {
  background-image: url("../../assets/bg-cadastro.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.inputs-cadastro {
  all: unset;
  border: 1px solid #bebebe;
  box-sizing: border-box;
  border-radius: 7.14512px;
  width: 408px;
  height: 47px;
  padding: 8px;
}

.form-cadastro {
  height: auto;
  background-color: #ffff;
  border-bottom-right-radius: 50px;
  padding: 24px;
}

.content-cadastro {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.content-botoes {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.fazer-login {
  margin-left: 10px;
  color: #6f7377;
  font-family: Montserrat;
  font-size: 12px;
}

#categoria {
  all: unset;
  cursor: pointer;
  border: 1px solid #bebebe;
  border-radius: 7.15px;
  height: 47px;
  width: 408px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 4px;
  background: url("../../assets/icon-select.svg") no-repeat 95%;
}

.textarea-cadastro {
  all: unset;
  height: 100px;
  width: 408px;
  border-radius: 7.15px;
  border: 1px solid #bebebe;
  box-sizing: border-box;
  padding: 4px;
}

.rodape-textarea {
  margin-bottom: 10px;
  margin-left: 10px;
  color: #6f7377;
  font-size: 12px;
}

.label-select-textarea {
  margin-top: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #393c40;
}

[class~="MuiStepIcon-root"] {
  color: #c9ccd1 !important;
}
[class~="MuiStepIcon-active"] {
  color: #d13201 !important;
}
[class~="MuiStepConnector-line"] {
  display: none !important;
}
[class~="MuiStepConnector-root"] {
  flex: 0 !important;
}

.header-cadastro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label-cadastro {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #393c40;
}

.label-cadastro > p {
  font-weight: normal;
}
